body{
    background-color: #d4b58e;
}

.container {
    display: flex;
    padding: 5px;
    width: 100%;
    max-width: 90vw; /* Ensures it doesn't exceed viewport width */
    gap: 20px;
    padding-bottom: 70px;
    flex-direction: column;
    align-items: center; /* Centers content inside */
    margin: 0 auto; /* Centers the container itself */
}

.input-container {
    display: flex;
    width: 80vw;  /* Scales dynamically */
    padding: 20px;
    background-color: #e8d3c5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    height: auto;
    border-radius: 10px;
    text-align: center; /* Ensures text/content aligns in center */
    
    gap: 10px;
}

#version{
    font-size: 10px; /* Legible size for footer content */
}


.input-container div {
    width: 100%; /* Ensures the container stays within the parent */
}

.input-container #inputContent1, #outputContent1 {
    min-height: 70vh;
}

.textBox {
    width: 10vh; /* Locked width */
    height: auto;
    background-color: white;
    border: 2px solid black;
    text-align: left;
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 10px;
    font-family: sans-serif;
    box-sizing: border-box;
    
    border-radius: 5px;
    border:1px solid #a67b5b;

}

.textBox:empty::before {
    content: attr(placeholder);
    color: gray;
    pointer-events: none; /* Prevents interaction */
}


footer {
    font-family: 'Roboto', sans-serif; /* Clean sans-serif font */
    font-size: 14px; /* Legible size for footer content */
    text-align: center;
    padding: 15px;
    padding-bottom: 0px;
    background-color: #d1d1d1;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between each link */
    margin-bottom: 10px;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between icon and text */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1em;
}

.footer-item-below {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between icon and text */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1em;
}

.footer-item:hover {
    text-decoration: underline;
}

.footer-logo {
    width: 20px;
    height: 20px;
}


.mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    border: none;
    padding: 0; /* Remove padding */
    width: 46px; /* Set width to make it square */
    height: 46px; /* Set height to match the width */
    border-radius: 50%; /* Keeps it rounded */
    cursor: pointer;
    font-size: 2em; /* Font size for bigger icon */
    z-index: 1100;
    background-color: #e1dbd6;
    
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

body.dark-mode .input-container {
    background-color: #333; 
    border-color: #5e5e5e;
}

body.dark-mode footer {
    background-color: #222;
}

body.dark-mode .textBox{
    background-color: #464646;
    color: #cecece;
    border-color: #333333;
}
body.dark-mode .footer-item,
body.dark-mode .footer-item-below,
body.dark-mode footer{
    color: rgb(255, 255, 255);
}

body.dark-mode textarea::placeholder,
body.dark-mode #outputtContent1::placeholder {
    color: #a3a3a3; 
}

body.dark-mode .mode-toggle {
    background-color: #333;
}

.red-font {
    color: red !important;
    font-weight: bold !important;
}


@media (max-width: 720px) {
    .input-container{
        flex-direction: column;
    }

    #outputContent1 {
        min-height: 30vh;
    }

    #inputContainer2{
        padding-bottom: 5vh;
    }
  }
  